:root {
    --color-darkgray: #48484a;
    --color-white: #f2f2f1;
    --color-orange: #ec6e4c;

    --color-fire: #a91616;
    --color-spring: #91d885;
    --color-snow: #6dafbc;
    --color-ice: #9ed1dc;
}