:root {
    --color-darkgray: #48484a;
    --color-white: #f2f2f1;
    --color-orange: #ec6e4c;

    --color-fire: #a91616;
    --color-spring: #a2f993;
    --color-snow: #88cddb;
    --color-ice: #d7f8ff;
}