.bord1try {
    border: 1px solid black;
}

.br20 {
    border-radius: 20px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 4px double darkblue; */
    /* width: 100%; */
}

.flex-row-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-row-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-card-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.shape-br40-p15 {
    border-radius: 40px;
    padding: 15px;
}

.shape-br5-p5 {
    border-radius: 5px;
    padding: 5px;
}

.padding40 {
    padding: 40px;
}

.padding-side35 {
    padding-left: 35px;
    padding-right: 35px;
}

.b-bottom{
    border-bottom: 1px solid var(--color-darkgray);
}

.box-shadow {
    box-shadow: 0 0 10px black;
}

.box-shadow-transapernt {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.box-shadow4 {
    box-shadow: 0 0 4px black;
}

.box-s-inset-dx {
    box-shadow: -5px 0px 5px inset rgba(0, 0, 0, 0.25);
}

.txt-center {
    text-align: center;
}

.black-transparent25 {
    background-color: var(--color-black-transparent25);
}

/* .weather-very-hot {
    background-color: var(--color-fire);
}
.weather-hot {
    background-color: var(--color-orange);
}
.weather-normal {
    background-color: var(--color-spring);
}
.weather-cold {
    background-color: var(--color-snow);
}
.weather-very-cold {
    background-color: var(--color-ice);
} */

.weather-very-hot {
    box-shadow: 0 0 30px inset var(--color-fire);
}
.weather-hot {
    box-shadow: 0 0 30px inset var(--color-orange);
}
.weather-normal {
    box-shadow: 0 0 40px inset var(--color-spring);
}
.weather-cold {
    box-shadow: 0 0 45px inset var(--color-snow);
}
.weather-very-cold {
    box-shadow: 0 0 60px inset var(--color-ice);
}

.width10vw{
    width: 10vw;
}

.width30{
    width: 30px;
}

.width50{
    width: 50px;
}

.width60{
    width: 60px;
}

.width100 {
    width: 100%;
    height: 100%;
}

.width40pe-card{
    width: 40%;
}

.min-max-100pe {
    min-width: 100%;
    max-width: 100%;
}

.weather__type {
    text-transform: capitalize;
}

.time-style {
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}