*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color-darkgray);
}

body {
    background-image: url(../img/Firefly\ un\ bel\ paesaggio\ naturale\ e\ urbano\ dal\ cielo\ limpido\ 56330.jpg);
    /* padding-left: 80px;
    padding-right: 80px; */
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
}

/* .time-now {
    font-size: 100%;
} */

#continents-capitals{
    margin-left: 25%;
}

#continents-capitals > li {
    margin: 20px;
}

.city-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 160px;
    /* margin-left: 25%; */
    padding-left: 80px;
    padding-right: 80px;
    /* width: 75%; */
}

.card {
    margin: 20px;
    min-width: 250px;
    max-width: 20%;
    border-radius: 20px;
    padding: 10px;
    /* padding: 20px; */
    /* padding-top: 0; */
    background-color: rgba(247, 242, 235, 0.9);
}

.card__main-container {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    width: 100%;
}

.second-c-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: end;
    align-items: end;
    align-content: end;
    gap: 30px;
    padding: 20px;
    max-height: 455px;
    font-size: 1.1rem;
}

.second-c-container > div > div {
    gap: 10px;
}

.second-c-container > div > img {
    margin: 20px;
    width: 30px;
}

.city-time-local {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 2vw;
}

.country-flag {
    width: calc(100% + 40px);
    height: 40px;
    border-radius: 20px 20px 0 0;
}

.name {
    border-top: 1px solid var(--color-darkgray);
}

.weather__icon{
    border-radius: 50%;
    background-color: var(--color-black-transparent25);
}

.main-temp {
    width: 100%;
}

.main-temp__img {
    width: 20px;
}

.star-favourite {
    width: 25px;
    opacity: 0.9;
}

.modal-new-f {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    font-weight: bolder;
}