@media only screen and (max-width: 1450px) {
    .second-c-container{
        max-height: none;
    }
}

@media only screen and (max-width: 1080px) {
    #side-bar{
        width: 50%;
        /* z-index: 1; */
    }

    .city-list {
        padding-left: 50px;
        padding-right: 50px;
    }

    .card {
        position: relative;
        min-width: 40%;
        max-width: none;
    }

    .second-c-container{
        position: static;
        max-height: none;
    }

    .flex-row-around {
        align-items: end;
    }

    .city-time-local {
        border-radius: 20px;
        padding: 10px;
        top: 40px;
        left: 40px;
        background-color: rgba(247, 242, 235, 0.9);
    }
}

@media only screen and (max-width: 890px) {
    .container-main {
        margin-top: 205px;
    }

    #side-bar{
        top: 205px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        min-width: 100%;
    }

    #side-bar{
        width: 80%;
    }

    .flex-card-around {
        flex-direction: column;
    }

    .second-c-container{
        position: relative;
        justify-content: start;
        align-items: start;
        align-content: start;
    }

    .city-time-local {
        top: auto;
        left: auto;
        right: 40px;
        bottom: 50%;
        transform: translateY(50%);
    }

    .width40pe-card{
    width: 100%;
}

.flex-row-cont {
    flex-direction: row-reverse;
}
    
    /* .container-main {
        margin-top: 330px;
    }

    #side-bar{
        top: 330px;
    } */
}

@media only screen and (max-width: 580px) {
    .container-main {
        margin-top: 260px;
    }

    #side-bar{
        top: 260px;
    }

    .city-time-local {
        position: static;
        /* margin: auto; */
    }
}

@media only screen and (max-width: 410px) {
    .container-main {
        margin-top: 330px;
    }

    #side-bar{
        top: 330px;
    }
}